.main-item, .main-item li, .main-item div, td {
	background: #FEFEFE;
}

::selection {
	background: #ccc;
	color: inherit;
}

a:link, a:visited, .js_link {
	color: #107010;
}

a:hover {
	color: #447bc4;
	text-decoration: none;
}

#brd-index .main-item .hn span {
	font-weight: normal;
	font-size: 14px;
}

.st-users strong a {
	font-weight: normal;
}

.posting a.newpost {
	font-weight: normal;
}

#brd-title {
	padding: 10px 0;	
}

.main-subhead {
	background: #f5fbfe;
}

.main-head {
	background: #fff;
	border: 0;
	color: #444;
	font-size: 14px;
	padding: 0px 0 0 0;
}

.main-menu, .admin-menu, .main-foot	{
	background: #338f31;
	border: 0;
}

#brd-crumbs-top .crumblast {
	font-size: 13px;
}

#brd-navlinks {
	background: #5a5;
}

#brd-navlinks a:link, #brd-navlinks a:visited, .main-menu a:link, .main-menu a:visited, .admin-menu a:link, .admin-menu a:visited {
	color: #fff;
	text-shadow: none; 
}

#brd-navlinks li a {
	padding: 6px 1.1em 5px;
	display: block;
}

.main-foot {
	padding: 3px 20px; 
}


.main-menu .active a, .admin-menu .active a {
	background: #525252;
	color: #fff;
}


#brd-navlinks .isactive a {
	color: inherit;
	background: inherit;
	color: #fff;
}

#brd-navlinks {
	border: 0;
	padding-left: 18px;
}

body {
	color: #373737;
}

#brd-pagepost-top {
	border-bottom: 1px solid #dde4e8;
	border: 1px solid #ddd;
	padding-top: 2px;
	padding-bottom: 2px;
}

.options a.sub-option {
	text-shadow: none;
	font-size: 12px;
	color: #990;
	font-style: italic;
}

.main-frm .ct-group, #brd-announcement {
	background: #fefefe;
}

.main-content, .main-frm {
	background: #fefefe;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="search"], input[type="number"], textarea {
	padding: .30em;
}

input[type="text"]:active, input[type="text"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="url"]:active, input[type="url"]:focus, input[type="search"]:active, input[type="search"]:focus, input[type="number"]:active, input[type="number"]:focus, textarea:active, textarea:focus {
	background: #f8faf8;
	outline: none;
}

.frm-form {
	background: #fefefe;
}

.main-content .main-item ul.item-info li {

}

.posthead .hn {
	background: inherit;
}

.postbody, .online {
	background: inherit;
}

.posthead {
	background: inherit;
}

.postfoot {
	background: inherit;
}

.post-options {
	background: inherit;
}

.post-author, .post-byline, .post-contacts {
	background: inherit;
}

.posthead .post-byline {
	margin-top: 0;
}


.post {
	background: #fdfdfd;
}

.post-entry {
	background: inherit;
}

.entry-content a, .entry-content a:visited {
	color: #44b;
	text-decoration: underline;
}


.entry-content a:hover, .entry-content a:visited:hover {
	color: #66f;
}

.main-foot .options span .mod-option {
	color: #fff;
}

a.feed {
	color: #080 !important;
}

.main-content .main-item {

}


.forum-views .new .icon {
	border-color: #00ee00 #22cc22 #00cc00 #00ff00;
}




.isactive a {
	border-bottom: 1px solid #eee;
}


#brd-desc {
	color: #444;
	font-size: 13px;
	text-align: justify;
	font-family: Tahoma, Arial, sans-serif;
}

#brd-desc strong {
	font-weight: normal;
}

#brd-navlinks {
	height: 34px;
	padding-right: 3px;
}

#brd-navlinks ul {
	background: url('img/top-menu.png') repeat-x;
	height: 30px;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
}

#java-background {
	position: absolute;
	top: 13px;
	left: 500px;
}

#debian-background {
	position: absolute;
	top: 13px;
	left: 830px;
}


#android-background {
	position: absolute;
	top: 8px;
	left: 720px;
}

#net-background {
	position: absolute;
	top: 50px;
	left: 595px;
}

#python-background {
	position: absolute;
	top: 5px;
	left: 565px;
}


#brd-visit {
	box-shadow: 0 1px 4px #ccc;
}

#brd-title {
	padding-top: 25px;
	margin: 0;
	padding-left: 0;
}

#brd-head #brd-title a {
	font-size: 28px;
	color: #107010;
	font-style: italic;
	font-weight: normal;
	font-family: 'Junge', serif;
}

#right-text {
	position: absolute;
	left: 250px;
	bottom: 18px;
	width: 75%;
	text-align: center;
	font-size: 12px;
}

#right-text div {
	padding-bottom: 7px;
	padding-left: 10px;
	text-align: center;
}

#right-text div img {
	margin-right: 2%;
	vertical-align: middle;
	text-align: center;
}

#slogan {
	padding-left: 5px;
}

.en-slogan, .ru-slogan {
	font-size: 11px;
	font-family: Verdana,Helvetica,Arial
	font-size: 14px;
	color: #333;
	padding-top: 1px;
}


#brd-slogan {
	font-size: 11px;
	font-family: Verdana,Helvetica,Arial
	font-size: 14px;
	color: #333;
}

footer, #copyright {
	color: #999;
	font-size: 11px;
	font-family: Tahoma, Arial, sans-serif;
}

.main-category, .main-forum, .main-foot, .main-pagepost  {
	box-shadow: 0 1px 4px #ccc;
}

#brd-pagepost-top {
	box-shadow: none;
}

#brd-profile-about .main-menu, #brd-profile-identity .main-menu, #brd-profile-settings .main-menu, #brd-profile-signature .main-menu, #brd-profile-avatar .main-menu, #brd-profile-admin .main-menu, #brd-pun_pm-inbox .main-menu {
	margin-bottom: 10px;
}


.main-frm {
	box-shadow: 0 0px 4px #ccc;
}

.posthead, .post, .main-topic {
}

.main-topic {
}

h3.post-ident {
}

#brd-main {
	margin-bottom: 20px;
}

#brd-qpost, #post-form, #topic-review, #post-preview {
}

#brd-pagepost-top {
	box-shadow: 0;
}

.main-head {
	margin-top: 4px;
}

.main-subhead {
}

#brd-stats {
	padding-top: 7px;
	padding-bottom: 7px;
}

#brd-online {
	padding-top: 7px;
	padding-bottom: 7px;
}

#copyright a {
	color: #5a5;
}

#our-friends .title {
	padding-top: 10px;
}

#our-friends ul {
	padding: 0;
	padding-bottom: 10px;
}

#our-friends ul li {
	padding: 0;
	list-style: none;
	font-size: 11px;
}
.clear {
	clear: both;
}


#bottom-table td {
	background: inherit;
	border: 0;
	text-align: center;
}

.pun_poll_item dl dt {
	width: 60px !important;
}

.votted .pun_poll_header {
	text-align: left !important;
	margin-left: 72px;
}

.pun_poll_total {
	text-align: left !important;
	margin-left: 72px;
}

.mf-set legend {
	position: relative !important;
	display: block;
}

.pun_poll_item .frm-buttons {
	border-top: 0 !important;
	margin: 0 !important;
	padding: 0.1em 0 1em 125px !important;
}

.pun_poll_item .frm-group {
	margin-bottom: 0 !important;
}

.pun_poll_item .pun_poll_header {
	padding-left: 10px;
}

.pun_poll_item .mf-set {
	padding-left: 100px;
	padding-top: 10px;
}

#footer-table td {
	border: 0;
}

.pun_poll_item .winner {
	background-color: #5a5 !important;
	border-color: #eee !important;
}

a.thanks_info_link {
	text-decoration: underline;
	color: #990;
}